application:
    name: Netatct Alarm Routing

server:
    port: 8888
    ssl:
        key-store: keystore.p12
        key-store-password: password
        keyStoreType: PKCS12
        keyAlias: tomcat
        
logging:
    level:
        com.nokia.gdc.*: DEBUG
                            
producer:
    bootstrap.servers: 103.49.105.21:9092
    #key.serializer: org.apache.kafka.common.serialization.ByteArraySerializer
    #value.serializer: org.apache.kafka.common.serialization.ByteArraySerializer
    key.serializer: org.apache.kafka.common.serialization.StringSerializer
    value.serializer: org.apache.kafka.common.serialization.StringSerializer

# keytool -genkey -alias tomcat -storetype PKCS12 -keyalg RSA -keysize 2048 -keystore keystore.p12 -validity 3650

spring:
    datasource:
        driverClassName: org.h2.Driver
        url: jdbc:h2:file:./ticketDB.h2;FILE_LOCK=FS
        username: sa
        password: 
    jpa:
        hibernate:
            ddl-auto: update
            show-sql: true
            dialect: org.hibernate.dialect.H2Dialect
    mvc:
        view:
            preffix: /WEB-INF/jsp
            suffix: .jsp


biz:
    futureware:
        mantis:
            rpc:
                soap:
                    client:
                           endpoint: http://gdcindonesia.com:8138/api/soap/mantisconnect.php
                           user: monitoring
                           password: monitoring


org:
    apache:
        axis:
            AxisProperties:
                    http:
                        proxy:
                            host: 10.144.1.10
                            port: 8080
                    